$header-color: rgb(192, 192, 192);
$primary-color: #000;
$logo-background: rgb(125, 147, 255);
$modal-translucent: rgba(0, 0, 0, 0.5);
$allergen-colors: (
  'shellfish': #f94144,
  'nuts': #f3722c,
  'sesame': #f8961e,
  'pork': #f9844a,
  'eggs': #f9c74f,
  'gluten': #90be6d,
  'dairy': #43aa8b,
  'nightshade': #4d908e,
  'fish': #577590,
  'allium': #277da1,
);

$allergen-glyphs: (
  'shellfish': '●',
  'nuts': '■',
  'sesame': '◆',
  'pork': '▲',
  'eggs': '●',
  'gluten': '■',
  'dairy': '◆',
  'nightshade': '▲',
  'fish': '●',
  'allium': '■',
);

body {
  font-family: Inter, system-ui, Helvetica, sans-serif;
  padding: 0.5em;
}

h1.logo {
  font-family: 'Nanum Brush Script', cursive;
  font-size: 2.5em;
  margin: 0;
  padding: 0 1rem;
  background-color: $logo-background;
  display: inline-block;
  transform: rotate(3deg);
}
ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $primary-color;
  &:hover {
    color: lighten($primary-color, 50%);
  }
}
img {
  width: 100%;
}
.hidden {
  display: none;
}

button,
input[type='submit'] {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5em 1em;
  font-size: 0.9em;
  margin: 0;
}
