#itemDetails {
  white-space: pre-wrap;
  #imageFrame {
    height: 30vh;
    overflow: hidden;
    width: 100%;
  }
  .backLink {
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 0.5em;
    display: inline-block;
  }
}

li.allergen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  height: 1.5em;
  span:not(.closeBtn) {
    // generic styling for undefined allergens
    &:first-child::before {
      content: ('■');
      margin-right: 0.5em;
    }
  }
  // styling defined for major allergens
  @each $allergen, $color in $allergen-colors {
    .#{$allergen}Item {
      color: $color;
    }
  }
  @each $allergen, $glyph in $allergen-glyphs {
    span.#{$allergen}Item::before {
      content: ($glyph);
    }
  }
}
.infoGlyph {
  display: flex;
  align-items: center;
  color: $header-color;
  padding-left: 0.8em;
  cursor: pointer;
}
.allergenContainer {
  margin: 0 1em;
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}
