#menuList {
  ul {
    display: none;
  }
  .expanded {
    display: block;
  }

  li {
    cursor: pointer;
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h2 {
        margin: 0.6em;
      }
    }
    .dialog {
      display: block;
    }
    &.itemLink {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 600;
      font-size: 1.2em;
      line-height: 1.4em;
    }
  }
  span.expandGlyph {
    font-size: 1.5em;
  }
  div.filteredByContainer {
    div {
      flex-wrap: wrap;
    }
    align-items: flex-end;
    border-bottom: 2px solid lightgrey;
    margin-top: -1.5em;
    padding: 1em;
  }
  .filteredByBadge {
    background-color: $modal-translucent;
    color: white;
    margin: 0.25em;
    padding: 0.25em 0.5em;
    border-radius: 5px;
  }
}
