@import 'config';

#menuList {
  ul {
    display: none;

    &.expanded {
      display: block;
    }
  }

  li {
    cursor: pointer;
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  span.expandGlyph {
    font-size: 1.5em;
  }
}

#itemDetails {
  img {
    width: 100%;
  }
  .sectionHeader {
    font-weight: 600;
    color: $header-color;
    text-align: center;
  }
  #allergenContainer {
    max-height: 4em;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    @each $allergen, $color in $allergen-colors {
      .#{$allergen}Item {
        color: $color;
        margin-right: 1em;
      }
    }

    @each $allergen, $glyph in $allergen-glyphs {
      .#{$allergen}Item::before {
        content: ($glyph);
        margin-right: 1em;
      }
    }
    .infoGlyph {
      color: $header-color;
      font-size: 1.5em;
    }
    li.allergen {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 40%;
      height: 1.5em;
    }
  }
}
