@charset "UTF-8";
body {
  font-family: Inter, system-ui, Helvetica, sans-serif;
  padding: 0.5em;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: gray;
}

img {
  width: 100%;
}

#menuList ul {
  display: none;
}
#menuList .expanded {
  display: block;
}
#menuList li {
  cursor: pointer;
}
#menuList li div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#menuList li.itemLink {
  font-weight: 600;
  font-size: 1.2em;
  line-height: 1.4em;
}
#menuList span.expandGlyph {
  font-size: 1.5em;
}

.sectionHeader {
  font-weight: 600;
  color: rgb(192, 192, 192);
  text-align: center;
}

#itemDetails #imageFrame {
  height: 30vh;
  overflow: hidden;
}
#itemDetails .backLink {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 0.5em;
  display: inline-block;
}
#itemDetails #allergenContainer {
  max-height: 4em;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#itemDetails #allergenContainer .shellfishItem {
  color: #f94144;
}
#itemDetails #allergenContainer .nutsItem {
  color: #f3722c;
}
#itemDetails #allergenContainer .sesameItem {
  color: #f8961e;
}
#itemDetails #allergenContainer .porkItem {
  color: #f9844a;
}
#itemDetails #allergenContainer .eggsItem {
  color: #f9c74f;
}
#itemDetails #allergenContainer .glutenItem {
  color: #90be6d;
}
#itemDetails #allergenContainer .dairyItem {
  color: #43aa8b;
}
#itemDetails #allergenContainer .nightshadeItem {
  color: #4d908e;
}
#itemDetails #allergenContainer .fishItem {
  color: #577590;
}
#itemDetails #allergenContainer .alliumItem {
  color: #277da1;
}
#itemDetails #allergenContainer .shellfishItem::before {
  content: "●";
  margin-right: 0.5em;
}
#itemDetails #allergenContainer .nutsItem::before {
  content: "■";
  margin-right: 0.5em;
}
#itemDetails #allergenContainer .sesameItem::before {
  content: "◆";
  margin-right: 0.5em;
}
#itemDetails #allergenContainer .porkItem::before {
  content: "▲";
  margin-right: 0.5em;
}
#itemDetails #allergenContainer .eggsItem::before {
  content: "●";
  margin-right: 0.5em;
}
#itemDetails #allergenContainer .glutenItem::before {
  content: "■";
  margin-right: 0.5em;
}
#itemDetails #allergenContainer .dairyItem::before {
  content: "◆";
  margin-right: 0.5em;
}
#itemDetails #allergenContainer .nightshadeItem::before {
  content: "▲";
  margin-right: 0.5em;
}
#itemDetails #allergenContainer .fishItem::before {
  content: "●";
  margin-right: 0.5em;
}
#itemDetails #allergenContainer .alliumItem::before {
  content: "■";
  margin-right: 0.5em;
}
#itemDetails #allergenContainer .infoGlyph {
  color: rgb(192, 192, 192);
  font-size: 1.3em;
  padding-right: 1em;
}
#itemDetails #allergenContainer li.allergen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  height: 1.5em;
}

#infoBoxContainer {
  position: relative;
}

.infoBox {
  position: absolute;
  top: -2em;
  right: 50%;
  transform: translateX(50%);
  z-index: 1;
  border-radius: 5px;
  text-align: center;
  background-color: white;
  padding: 1em;
  border: 1px solid #000;
}
.infoBox .closeBtn {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  font-size: 1.1em;
}
.infoBox p {
  margin: 0 0 0.5em 0;
}

.hidden {
  display: none;
}/*# sourceMappingURL=style.css.map */