@import 'config';
@import 'item';
@import 'menuList';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Nanum+Brush+Script&display=swap');

#header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 2px solid lightgrey;
  padding-bottom: 1.2em;
}
.sectionHeader {
  font-weight: 600;
  color: $header-color;
  text-align: center;
}
.dialogContainer {
  position: relative;
}
.dialog {
  position: absolute;
  // top: -2em;
  right: 50%;
  transform: translateX(50%);
  z-index: 1;
  min-width: 50%;
  border-radius: 5px;
  box-shadow: 3px 3px 10px #999;
  text-align: center;
  background-color: white;
  padding: 1em;
  border: 1px solid black;

  .closeBtn {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    font-size: 1.1em;
  }
  p {
    margin: 0 0 0.5em 0;
  }
}

.filterForm {
  display: flex;
  flex-direction: column;

  div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0.5em;
  }

  input[type='submit'] {
    margin-top: 0.75em;
    align-self: center;
  }
}

.filteredByBadge {
  background-color: $modal-translucent;
  color: white;
  padding: 0.25em;
  border-radius: 5px;
}

@media screen and (min-width: 600px) {
  body {
    background-color: bisque;
    height: 100vh;
  }
  #main {
    max-width: 600px;
    margin: auto;
    background-color: white;
    padding: 1em;
  }
}

.editableField {
  display: flex;
  justify-content: space-between;

  .editGlyph {
    display: block;
    align-self: center;
    margin: 0 0.5em;
    font-size: 1.6rem;
    transform: rotate(90deg);
    color: $header-color;
  }
}

.fieldEdit {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
  textarea {
    flex-grow: 1;
    font: inherit;
    height: 4rem;
  }
  div {
    display: inherit;
    gap: 0.5em;
    align-self: center;
  }
}

#newItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  input[type='submit'] {
    align-self: center;
  }
  textarea {
    height: 20vh;
    font: inherit;
  }

  #newImage {
    padding: 1em 0;
    border: 2px solid $header-color;
    border-radius: 5px;
    text-align: center;

    p {
      margin: 0;
    }
  }
}
