button {
  border: none;
  background-color: white;
  // &.text {}
  &.outline {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.5em 1em;
    font-size: 0.9em;
    margin: 0;
  }
  &.closeIcon {
    display: flex;
    align-items: center;
    gap: 0.25em;
    svg {
      font-size: $icon-md;
    }
  }
  &.infoGlyph {
    display: flex;
    align-items: center;
    color: $header-color;
    padding-left: 0.8em;
    cursor: pointer;
    font-size: $icon-sm;
  }
  .lockIcon {
    display: flex;
    align-items: center;
    gap: 0.25em;
    svg {
      font-size: $icon-md;
    }
  }
}
// Still working out how to handle form submit
input[type='submit'] {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5em 1em;
  font-size: 0.9em;
  margin: 0;
}
