.dialogContainer {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
.dialog {
  position: absolute;
  // top: -2em;
  right: 50%;
  transform: translateX(50%);
  z-index: 1;
  min-width: 50%;
  border-radius: 5px;
  box-shadow: 3px 3px 10px #999;
  text-align: center;
  background-color: white;
  padding: 1em;
  border: 1px solid black;

  p {
    margin: 0 0 0.5em 0;
  }

  textarea {
    display: block;
    margin-bottom: 0.5em;
  }
}
